@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0271f7;
}

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

header > nav{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

nav > a {
  color: #ffffff;
  font-size: 1rem; /* Por padrão 16px */
  text-decoration: none;
}

a.action-button{
    font-weight: 600;
    background-color: #EE626B;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

main {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 3rem;
}